__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
venv/
env/
.env
.venv/
data/raw/
data/processed/
data/new_incoming/
artifacts/
mlflow/
logs/
reports/
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
.pytest_cache/
.coverage
htmlcov/
.dvc/tmp/
.dvc/cache/